@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/home-page-image.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(1px) grayscale(20%); /* Apply grayscale filter here (0% to 100%) */
    z-index: 0;
}

.bg-image-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/home-page-image.jpg');
    background-size: cover;
    background-position: center;
    z-index: -10;
}

.bg-image-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) grayscale(30%) brightness(70%); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
    z-index: -1;
}

.bg-image-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/sedona_1b.jpg');
    background-size: cover;
    background-position: center;
    z-index: -10;
}

.bg-image-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) grayscale(30%) brightness(70%); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
    z-index: -1;
}