@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.body {
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/home-page-image.jpg');
    background-size: cover;
    background-position: center;
    z-index: -10;
}
.bg-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px) grayscale(20%) brightness(100%); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
    z-index: -1;
}

.bg-image-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/sedona_1b.jpg');
    background-size: cover;
    background-position: center;
    z-index: -10;
}

.bg-image-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) grayscale(30%) brightness(70%); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
    z-index: -1;
}

.bg-image-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/sedona_1b.jpg');
    background-size: cover;
    background-position: center;
    z-index: -10;
}

.bg-image-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) grayscale(30%) brightness(70%); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
    z-index: -1;
}

/* GalleryContent.css */

.gallery-content {
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-screen-container {
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;
    overflow-y: hidden; /* Hide overflowing content */
    overflow-x:hidden;
}

.full-screen-image {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

/* MOBILE ARROW GALLERY PAGE */
.mobile-arrow {
    background-image: url('assets/mobile-arrow.png');
    padding: 5px;
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.mobile-arrow-left {
    left: 0;
    transform: rotate(180deg); /* Rotate the left arrow to face left */
}
.mobile-arrow-right {
    right: 0;
    transform: rotate(360deg); /* Rotate the left arrow to face left */
}

/* DESKTOP ARROW GALLERY PAGE */
.left-arrow,
.right-arrow {
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.left-arrow {
    left: 5%;
    transform: rotate(90deg); /* Rotate the left arrow to face left */
}

.right-arrow {
    right: 5%;
    transform: rotate(-90deg); /* Rotate the right arrow to face right */
}

.arrow span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg); /* Adjust the rotate value */
    margin: -10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}



